.container{
    display:flex;
    justify-content: space-between;
    align-items: center;

    width: 144rem;
    height: 8.4rem;

    background-color: white;
}

.imageWrapper {
    width : 24.6rem;
    height: 4rem;

    margin-left:8.5rem;
}